<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New posts creted</title>
</head>
<body>
    <h2 style="text-align: center;">New posts creted</h2>

<form action="/posts" method="post" style="text-align: center;">
    <input type="text" name="username" placeholder="Enter your name"> <br>
    <br>
    <textarea name="content" id="" placeholder="Enter your content"></textarea><br><br>

    <button>submit</button>
</form>

</body>
</html>